<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/Brooklyn_Bridge1/Brooklyn_Bridge1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>TITLE</h1>
                        <h2 class="subheading"></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                  <h1>Add Posts Resources</h1>
                    <p><code>rails new blog</code>
                    <p><code>cd blog</code></p>
                    <p><code>git init</code></p>
                    <p><code>git status</code></p>
                    <p><code>git add .</code></p>
                    <p><code>git commit -m "initial commit"</code></p>
                    <p><code>rails g controller posts</code></p>
                    <p>in <code class="paths">config/routes.rb</code></p>
                    <p><code>resources :posts</code></p>
                    <p><code>root "posts#index"</code></p>
                    <p>add index route</p>
                    <img src="img/rails_blog/posts_controller.png"></p>
                    <p>add <code class="paths">views/posts/index.html.erb</code></p>
                    <p>in <code class="paths">posts_controller</code> add new route</p>
                    <p>add <code class="paths">view/posts/new.html.erb</code></p>
                    <p>add posts form</p>
                    <img src="img/rails_blog/post_form.png"></p>
                    <p>generate post model</p>
                    <p><code>rails g model Post title:string body:text</code></p>
                    <p><code>rake db:migrate</code></p>

                    <p>add create and params methods</p>

                    <img src="img/rails_blog/create_and_post_params.png">
                    <p>create post show view</p>
                    <img src="img/rails_blog/post_show.png">
                    <p>add show method to posts controller</p>
                    <img src="img/rails_blog/show_method.png">
                    <p>create post index method</p>
                    <img src="img/rails_blog/index_method.png">
                    <p>fix posts index view</p>
                    <img src="img/rails_blog/index_view.png">
                  <h2>Add A Sidebar</h2>

                    <p>in the <code class="paths">views/layouts/application.html.erb</code> file inside the body add</p>
                    <img src="img/rails_blog/sidebar.png">





                  <h2>Add SASS</h2>
                    <p>Add the extension <code>.scss</code> at the end of your <code class="paths">assets/stylesheets/application.css</code> file </p>
                    <h2>Add normalize</h2>
                    <p>create a new partial <code class="paths">_normalize.css.scss</code> and paste the normalize into it.</p>
                    <p>Import into your <code class="paths">assets/stylesheets/application.css.scss</code> by adding <code>@import 'normalize';</code> at the end</p>

                  <h2>Add SASS Styling</h2>
                    <p>(not gonna get into that here)</p>

                  <h2>Add Flash Message</h2>
                  <img src="img/rails_blog/flash_msg.png">

                  <h2>Add a Wrapper Div</h2>
                    <p>In the <code class="paths">views/posts/new</code> file add <code><div id="page_wrapper"></code></p>
                    <p>In the <code class="paths">views/posts/show</code> file add <code><div id="post_content"></code></p>

                  <h2>Add Validations to the Post Model</h2>
                    <img src="img/rails_blog/post_validations.png">

                  <h2>Add If Statement to the Post Controller for New Posts</h2>
                  <img src="img/rails_blog/create_if_statement.png">

                  <h2>Add Error Messages to New Post View</h2>
                    <p>Under the line <code> <%= form_for @post do |f| %> </code> add: </p>
                    <img src="img/rails_blog/error_messages.png">

                  <h2>Add Edit Method to Controller</h2>

                  <img src="img/rails_blog/edit_post_methods.png">

                  <h2>Create the Edit and Form Partial</h2>

                    <p>create the following view files</p>
                    <p><code class="paths">views/posts/edit.html.erb</code></p>
                    <p><code class="paths">views/posts/_form.html.erb</code></p>
                    <p>copy the form from the <code class="paths">views/posts/new.html.erb</code> file and paste into the form</p>
                    <p>In the new view file add <code><%= render 'form' %></code> where the form used to be</p>
                    <p>Copy the updated new view and paste into the edit view, replacing "New Post" with "Edit Post"</p>

                <h2>Add the Edit Form to the Show View</h2>
                    <p>Add the link next to the date paragraph </p>
                    <img src="img/rails_blog/show_view_edit_link.png">

                <h2>Add Delete Method to Controller</h2>
                    <img src="img/rails_blog/destroy_method.png">

                <h2>Add delete link to show view</h2>
                <p><code>|
          <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %></code></p>

          <h1>Add Comments Resources</h1>
              <p>Generate the model in the console with <code>rails g model Comment name:string body:text post:references</code></p>
              <p>Run the migration<code>rake db:migrate</code></p>
           <h2>Add the Association in the Post Model</h2>
              <p>Add <code>has_many :comments</code> in the Post Model</p>
              <h2>Add the Nested Routes for Comments</h2>
              <p>In the <code class="paths">config/routes.rb </code>file add the following</p>
              <img src="img/rails_blog/comments_routes.png">

           <h2>Create Comments Controller</h2>
              <p><code>rails g controller Comments</code></p>
              <p>Add create method in comments controller<code></code></p>
              <img src="img/rails_blog/comments_create.png">
              <h2>Create Comments Partial</h2>

              <p><code class="paths">views/comments/_comment.html.erb</code> with the following: </p>
              <img src="img/rails_blog/comment">
              <p>and a form <code class="paths">views/comments/_form.html.erb</code></p>
              <img src="img/rails_blog/comment_partial.png">
              <h2>Add Comments to Post Show View</h2>
              <img src="img/rails_blog/post_show_comments.png">
              <p><code></code></p>
          <h2>Add Destroy Method to Comments Controller</h2>
          <img src="img/rails_blog/comment_destroy.png">
          <h2>Add Dependent Destroy</h2>
          <p>in the Post Model <code></code></p>









                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Ali Lyons 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
<p></p>